.layout {
  display: flex;
  flex-direction: column;
}

.toppage {
  display:inline-flex;
  justify-content: space-around;
  background-color: #74747447;
  margin: 30px;
  padding-right: 30px;

}
.logo-img {
  float: left;
  display: inline-flex;
  height: 40px;
  width: 90px;
  
  

}

.about a {
  color: #000;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

.about a:hover {
  text-decoration: none;
}

