body{
  font-family: Arial, Helvetica, sans-serif;
  background: #f9f9f9;
  padding: 20px;
}
h2{
  color: #333;
}
.grid-box{
  background: #a8a821;
  color: #ffff;
  padding: 30px;
  text-align: center;
  font-size: 1.2em;
}
.grid-container{
  display:grid;
  gap:15px;
  margin-bottom: 20px;
}   